<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit {edit_layer_name}</title>
    <script src='https://unpkg.com/maplibre-gl@3.6.2/dist/maplibre-gl.js'></script>
    <script src="https://unpkg.com/terra-draw@1.0.0-beta.0/dist/terra-draw.umd.js"></script>
    <link href='https://unpkg.com/maplibre-gl@3.6.2/dist/maplibre-gl.css' rel='stylesheet' />
    <link href='css/map.css' rel='stylesheet' />
    <link href='css/shared_controls.css' rel='stylesheet' />
    <link href='https://www.unpkg.com/@watergis/maplibre-gl-legend@latest/dist/maplibre-gl-legend.css' rel='stylesheet' />
    <script src="https://www.unpkg.com/@watergis/maplibre-gl-legend@latest/dist/maplibre-gl-legend.umd.js"></script>
</head>
<body>
    <div id="controls">
        <!-- Title Panel -->
        <div class="control-panel title-panel">
            <h4>Edit Layer: {edit_layer_name}</h4>
            <a href="../html/admin" class="button link-button">Home</a>
            <a href="#" class="button link-button" id="help-link">?</a>
        </div>
        
        <!-- View Panel -->
        <div class="control-panel view-panel">
            <label>Basemap:</label>
            <select id="basemap-select" class="input-field">
                <option value="hillshade">Hillshade</option>
                <option value="satellite">Satellite (ESRI)</option>
                <option value="usgs">USGS Topo</option>
                <option value="terrain">OpenMapTiles Terrain</option>
            </select>
        </div>
        
        <!-- Location Panel -->
        <div class="control-panel sharing-panel">
            <label>Go to location:</label>
            <input type="text" id="location-input" class="input-field" placeholder="paste location here" style="width: calc(100% - 50px); display: inline-block;">
            <button id="go-location-btn" class="button" style="width: 40px; margin-left: 5px; padding: 5px;">Go</button>
        </div>
        
        <!-- Edit Controls Panel -->
        <div class="control-panel">
            {controls_html}
        </div>
        
        
        <!-- Progress Bar -->
        <div id="loading-progress" class="progress-bar">
            <div class="progress-fill"></div>
            <div class="progress-text">Loading layers...</div>
        </div>
        
    </div>
    <div id="map"></div>
    <script src="js/shared_utils.js"></script>
    <script>
        const MAP_CONFIG = {map_config};
        const EDIT_CONFIG = {{
	        swalename: "{swale_name}",
            layerName: "{edit_layer_name}",
            action: "{action}",
            mode: "{mode_string}",
            controls: {controls_config}
        }};
        const LEGEND_TARGETS = {legend_targets};
        const SATELLITE_SOURCE = {{
            'type': 'raster',
            'tiles': [
                'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{{z}}/{{y}}/{{x}}'
            ],
            'tileSize': 256,
            'attribution': 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        }};
        const USGS_SOURCE = {{
            'type': 'raster',
            'tiles': [
                'https://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{{z}}/{{y}}/{{x}}'
            ],
            'tileSize': 256,
            'attribution': 'Tiles courtesy of the U.S. Geological Survey'
        }};
        const TERRAIN_SOURCE = {{
            'type': 'raster',
            'tiles': [
                'https://tile.opentopomap.org/{{z}}/{{x}}/{{y}}.png'
            ],
            'tileSize': 256,
            'attribution': 'Map data: &copy; OpenStreetMap contributors, SRTM | Map style: &copy; OpenTopoMap (CC-BY-SA)'
        }};
    </script>
    <script src="js/edit_map.js"></script>
</body>
</html> 
